@charset "utf-8";
/* CSS Document */

h2{
	padding-top: 5%;
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
}

.r{
	background-color: antiquewhite;
	border: ridge;
	display: block;
	text-align: center;
	box-sizing: border-box;
	border-radius: 20px;
	width: 50%;
	margin: 0px auto;
}

img{
	width: 50%;
	height: 50%;
}
#mail, #phone, #ld{
	text-align: center;
	padding-top: 5%;
}

.cc{
	clear: both;
}

/*div{
	border: 1px solid black;
}*/

@media screen and (max-width: 1200px) {
	.mail{
		float: none;
		width: 90%;
		
	}
	.phone{
		float: none;
		width: 90%;
	}
	.linkedin{
		float:none;
		width: 90%;
	}
	img{
		margin-left: 0%;
	}
	.p{
		width: 100%;
		text-align: center;
	}
	.cc{
		font-size: 10px;
	}
	
}