@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(51, 48, 48);
}

h2{
	padding-top: 5%;
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
}

.r{
	display:block;
	background-color: #55d6aa;
	border: solid white;
	box-sizing: border-box;
	border-radius: 20px;
	width: 50%;
	margin: 5% 25%;
	float:left;
}

img{
	width: 50%;
	height: 50%;
}
#mail, #phone, #ld{
	text-align: center;
	padding-top: 5%;
}

.cc{
	clear: both;
	text-align: center;
	font-size: 20px;
	color:white;
}

.cc a{
	text-decoration: none;
	color:white;
}
.title{
    text-align: center;
	width: 100%;
	font-size: 28px;
	margin:3% 0;
	color:white;
	border:solid white;
	padding:2% 0;
	border-radius: 10px;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	display:block;
	float:left;
}

.wd{
	font-size:20px;
	margin:3% 0;
	color:#444;
}
/*div{
	border: 1px solid black;
}*/

@media screen and (max-width: 1200px) {
	.mail{
		float: none;
		width: 90%;
		
	}
	.phone{
		float: none;
		width: 90%;
	}
	.linkedin{
		float:none;
		width: 90%;
	}
	img{
		margin-left: 0%;
	}
	.p{
		width: 100%;
		text-align: center;
	}
	.cc{
		font-size: 30px;
	}
	.wd{
		font-size:32px;
		margin:3% 0;
		color:white;
		font-weight: 550;
	}
	.title{
		font-size: 50px;
		font-weight: bold;
	}
}