@charset "utf-8";
/* CSS Document */

body, html{
	height: 100%;
	margin: 0;
}

.open{
	text-align: center;
	background-image: url(images/school.png);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.id{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.name{
	font-style: italic;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}

.navbar{
	padding-left: 20%;
	display: inline-block;
	clear: left;
  	overflow: hidden;
  	background-color: ghostwhite;
	width: 100%;
	z-index: 10000;
}

.mi{
	float: left;
	font-size: 16px;
	color: black;
	width: 33.3%;
	text-align: center;
	padding: 10px 14px;
	text-decoration: none;
}

.dropdown{
	float: left;
	overflow: hidden;
}

.dropdown{
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	background-color: inherit;
	font-family: inherit;
	margin-left: 9%;
}

.dropbtn{
	
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  	background-color: red;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a{
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover{
  	background-color: #ddd;
}

.dropdown:hover .dropdown-content{
  	display: block;
}

.bar_item{
	color: #f9f9f9;
}