.pic{
    float: left;
    padding: 15px 30px;
}

.table{
    text-align: center;
    width: 100%;
}

.abt{
    text-align: center;
    width: 100%;
}

.hr{
    font-size: 28px; 
	font-style: italic;
}

.introduce{
	float: left;
	width: 50%;
	padding: 16px 14px;
	margin-left: 100px;
    display: table-cell;
}

.abt{
    text-align: center;
    padding: 16px 14px;
    float: left;
}

div{
    border: 1px solid black;
}