.pic{
    float: left;
    padding: 15px 30px;
    margin: 20px 50px;
}

.table{
    text-align: center;
    width: 100%;
}

.abt{
    text-align: center;
    width: 100%;
    float: left;
    padding-bottom:5%;
}

.hr{ 
	font-style: italic;
}

.a{
    font-size: 28px;
    border:solid black;
    padding:2% 0;
    margin-top:0;
}

.introduce{
    text-align: left;
	float: left;
	width: 50%;
	margin-left:50px;
    display: table-cell;
    font-size: 20px;
    line-height: 35px;
    padding-bottom:5%;
}

.i{
    font-size: 20px;
    line-height: 50px;
}
    
.com{
    margin-left:25%;
    width: 50%;
}

.icon{
    float: left;
    margin-left:5%;
    height: 25%;
    width: 35%;
}
.tku_icon{
    float: left;
    
    height: 25%;
    width: 35%;
    margin-left:5%;
    padding-top:4%;
}
.icons{
    height: 17%;
    width: 100%;
    margin-left:14%;
    
}

.e{
    display: flex;
    align-items: center;
    justify-content: center;

}

table{
    width: inherit;
}

.td_img{
    width: 40%;
}
.wd, .wds{
    text-align: center;
}

.paper{
    padding:2% 0;
}