.pic{
    float: left;
    padding: 15px 30px;
}

.add{
    float: right;
}

.abt{
    text-align: center;
}

.hr{
    font-size: 28px; 
	font-style: italic;
}

.introduce{
	float: left;
	width: 50%;
	padding: 16px 14px;
	margin-left: 100px;
	display: table-cell;
}