.pic{
    float: left;
    padding: 15px 30px;
    margin: 20px 50px;
}

.table{
    text-align: center;
    width: 100%;
}

.abt{
    text-align: center;
    width: 100%;
    float: left;
}

.hr{ 
	font-style: italic;
}

.a{
    font-size: 28px;
}

.introduce{
    text-align: left;
	float: left;
	width: 50%;
	margin-left:50px;
    display: table-cell;
    font-size: 20px;
    line-height: 35px;
}

.i{
    font-size: 20px;
}

li{
    line-height: 50px;
}

.com{
    margin-left: 400px;
    width: 50%;
}

.icon, .icons{
    float: left;
    padding-left: 10px;
    height: 25%;
    width: 25%;
    margin-left: 5%;
}

.icons{
    padding-top: 10px;
}

.wd{
    text-align: center;
}

div{
    border: 1px solid black;
}