body{
    font-family: 'Courier New', Courier, monospace;
}

.pic{
    float: left;
    margin-top:2%;
    background-color: rgb(51, 48, 48);
    border-radius: 10px;
    width:25%;
    margin-left:7%;
}

.table{
    text-align: center;
    width: 100%;
    background-color: rgb(51, 48, 48);
}

.abt{
    text-align: center;
    width: 100%;
    float: left;
    padding-bottom:5%;
    background-color: rgb(51, 48, 48);
}

.hr{ 
    font-style: italic;
    color:white;
}

.a{
    font-size: 28px;
    border:solid white;
    padding:2% 0;
    margin-top:3%;
    color:white;
    border-radius: 10px;
    width:80%;
    margin-left:10%;
}

.introduce{
    display: inline-block;
    text-align: left;
    font-size: 20px;
    line-height: 35px;
    width:  50%;
    padding-bottom:5%;
    background-color: rgb(51, 48, 48);
    margin-left:0;
    color:white;
}


.i{
    font-size: 20px;
    line-height: 50px;
}
    
.com{
    margin-left:25%;
    width: 50%;
}

.icon{
    float: left;
    margin-left:5%;
    height: 25%;
    width: 35%;
    
    
}
.tku_icon{
    float: left;
    height: 25%;
    width: 35%;
    margin-left:5%;
    padding-top:4%;
}
.icons{
    height: 30%;
    width: 100%;
    margin-left:14%;
    
}

.e{
    display: flex;
    align-items: center;
    justify-content: center;

}

table{
    width: inherit;
}

.td_img{
    width: 40%;
}
.wd, .wds{
    text-align: center;
}
p{
    font-size:20px;
}
.paper{
    padding:2% 0;
    color: white;
}

.rwd{
    display:none;
}

@media screen and (max-width: 1200px) {
    .pic{
        display:block;
        width: 100%;
        margin-left: 0;
    }
    .icon{
        float: none;
        align-self: center;
        margin:auto;
    
    }
    .com{
        display:none;
    }

    .rwd{
        display:block;
        color:white;
        width:  80%;
        margin-left:10%;
    }
    .paper{
        width:80%;
        margin-left: 10%;
    }
    .introduce{
        display: inline-block;
        text-align: left;
        line-height: 50px;
        width:  80%;
        padding-bottom:5%;
        background-color: rgb(51, 48, 48);
        margin-left:0;
        color:white;
        text-align: center;
        margin-top:5%;
    }
    p{
        font-size:30px;

    }
    .a{
        font-size:50px;
    }
    .hr{
        font-size:50px;
    }
}