@charset "utf-8";
/* CSS Document */

body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;	
}

.open{
	text-align: center;
	background-image: url(images/school.png);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width:100%;
}

.id{
	position: absolute;
	display: block;
	width:100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.name{
	font-style: italic;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}

.navbar{
	/*padding-left: 20%;*/
	display: block;
  	background-color: ghostwhite;
	width: 100%;
	z-index: 1000;
}

.dropdown a{
	text-align: center;
	display:block;
	font-size: 16px;
	color: black;
	padding: 24px 0px;
	text-decoration: none;
}

.dropdown{
	display: inline-block;
	overflow: hidden;
	width: 33%;
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	background-color: inherit;
	font-family: inherit;
}

.dropdown-content{
	width: 33%;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a{
	float: none;
	color: black;
	padding: 12px 0px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown-content a:hover{
  	background-color: #ddd;
}

.dropdown:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content{
  	display: block;
}

#btn{
	position: fixed; /* 讓它滾輪下滾後不會消失 */
	bottom: 20px; 
	right: 30px; 
	z-index: 99; /* 確保不被覆蓋 */
	border: none; /*取消邊框*/
	outline: none; /* 去除點完後的外線 */
	background-color: gray; 
	color: white; 
	cursor: pointer; /* 滑鼠指標變化 */
	padding: 15px; 
	border-radius: 10px; /* 圓角 */
	font-size: 18px; 
	opacity: 0.5;
  }
  #btn a{
	  text-decoration: none;
	  color:#444;
  }
  #btn:hover{
	  background-color: black;
  }