body{
    background-image: url(images/school.png);
	background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.id{
    text-align: center;
    display: block;
    top: 25%;
    left: 50%;
    width: 100%;
    margin-top: 50px;
}
.id a{
    display: block;
}
.navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 40%;
    width: 50%;
    bottom: 7%;
    margin: 0px 25%;
}

.btn{
    border-radius: 20px;
    display: block;
    background-color: rgb(83, 82, 82);
    margin: 0px auto;
    text-align: center;
    flex: auto;
    width: 100%;
    border: 1px solid black;
    line-height: 80px;
    font-size: 32px;
    cursor: pointer;
}

.t{
    text-decoration: none;
    margin: 10px auto;
    width: 100%;
    font-size: 28px;
}

button{
    color: whitesmoke;
    font-size: 28px;
}

@media screen and (max-width: 1200px) {
    .navbar{
        bottom: 2%;
    }
    body{
        background-size: cover;
    }
}

@media screen and (max-width: 960px) {
    .navbar{
        bottom: 6%;
        margin: 0% 23%;
    }
}