@charset "utf-8";
/* CSS Document */

i{
	text-decoration: underline;
}

body{
	background-color: antiquewhite;
}

h2{
	text-align: center;
	text-transform: uppercase;
}

h3{
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
	text-align: center;
}

#jp, #cp{
	border: groove;
	padding: 14px 20px;
	margin: 10px;
}
@media screen and (max-width: 1200px) {
	#jp{
		margin: 5px;
	}
	#cp{
		margin: 5px;
	}
	ul{
		font-size: 12px;
		list-style: none;
		padding: 0 10px;
	}
	li{
		list-style: none;
		margin: 0;
	}
}