@charset "utf-8";
/* CSS Document */

body{
    font-family: 'Courier New', Courier, monospace;
}

i{
	text-decoration: underline;
}

body{
	background-color: rgb(51, 48, 48);
}

h3{
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
	text-align: center;
}

#jp, #cp{
	background-color: rgb(51, 48, 48);
	display:block;
	width:60%;
	margin-left:20%;
	text-align: center;
	font-size: 20px;
	color:white;
	margin-top:5%;
	line-height: 35px;
}
.title{
    text-align: center;
	width: 100%;
	font-size: 28px;
    float: left;
	margin:3% 0;
	color:white;
	border:solid white;
	padding:2% 0;
	border-radius: 10px;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	display:block;
}

@media screen and (max-width: 1200px) {
	/*不需要！*/
}